{% extends 'base.html' %}

{%block select%} 
    {% include 'elements/selector.html' %} 
{%endblock%}

{% block title %}
<div class="content">
    <div class="ajout">
        <p>{{titre}} </p>
        <form  class="form" method="POST">
                <div class="input">
                    <label for="nom">{{entete[0]}}</label>
                    <input {%if produit %}type="integer" value= "{{data[0]}}"{%else%}type="text" value= "{{data[1]}}"{% endif %} name="nom" id="nom"  placeholder="{{interieur[0]}}" required>
                </div>
                
                <div class="input">
                    <label for="Adresse">{{entete[1]}}</label>
                    <input type="text" {%if produit %}value= "{{data[1]}}"{%else%}value="{{data[2]}}"{% endif %} name="Adresse" id="Adresse"  placeholder="{{interieur[1]}}" required>
                </div>
                
                <div class="input">
                    <label for="Téléphone">{{entete[2]}}</label>
                    <input {%if produit %}type="text" value="{{data[2]}}"{%else %}type="integer" value="{{data[3]}}"{% endif %} name="Téléphone" id="Téléphone"  placeholder="{{interieur[2]}}" required>
                </div>
                
                <div class="input">
                    <label for="email">{{entete[3]}}</label>
                    <input {%if produit%}type="integer" value="{{data[3]}}"{%else%}type="email" value="{{data[4]}}"{% endif %} name="email" id="email" placeholder="{{interieur[3]}}" required>
                </div>
                
                <div class="btn">
                    <a href="/{{produit}}{{magasin}}">Retour</a>
                    <button class="btn-ajout" type="submit">Valider</button>
                </div>
        </form>
    </div> 
</div>        
{% endblock %}
