{% extends 'base.html' %}

{% block title %}
   <div class="formulaire">
        <h1>Connectez-vous</h1>
        {% for message in get_flashed_messages() %}
            <div class="flash_c">{{message}}</div>
        {% endfor %}
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <br>
            <input type="Password" name="pwd" placeholder="Mot de passe" required >
            <br>
            <button class='btn' type="submit">Connexion</button>
        </form>
        <p>Si pas de compte<a href="/inscription"> inscrivez-vous</a></p> 
   </div>
{% endblock %}
