{% extends 'base.html' %}

{%block reload%} 
    {% for message in get_flashed_messages() %}
        <script>
            setTimeout(function() {
                location.reload();
            }, 8000);  
        </script>
    {% endfor %}
{%endblock%}

{%block select%} 
    {% include 'elements/selector.html' %} 
{%endblock%}

{% block title %}

<div class="content">
{% for message in get_flashed_messages() %}
   <div class="flash">{{message}}</div>
{% endfor %}
    <div class="magasin">
        {%if inscrip %}{% endif %}
        <a class="ajouter" href=f"{{ url_for('ajout', type='{produit}') }}">Ajouter</a>
        <p>{{titre}}</p>
        <div class="table">
            <table>
                <tr>
                    <th>{{entete[0]}}</th>
                    <th>{{entete[1]}}</th>
                    <th>{{entete[2]}}</th>
                    <th>{{entete[3]}}</th>
                    <th>{{entete[4]}}</th>
                    {%if data[5] %}<th>{{entete[5]}}</th>{% endif %}
                </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        {%if data[5] %}<td>{{ row[4] }}</td>{% endif %}
                        <td>
                            <a class="edit" href="{{ url_for('modifier', item_id=row[0] ) }}">Modifier</a>
                            <a class="delete" href="{{ url_for('supprimer', item_id=row[0] ) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}